@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
								<div class="w-50">
									<a href="Register" class="btn btn-danger">Return to register page</a>
								</div>
